<template>
  <div>{{ articles }}</div>
</template>

<script>
import gql from 'graphql-tag'

export default {
  apollo: {
    // Simple query that will update the 'hello' vue property

    articles: gql`query getArticles {
     articles {
       title
     }
    }`,
  },
}
</script>
