{% extends 'base.html' %}

{% block title %}Статья - {{ data.title }}{% endblock %}

{% block content %}
    {% if data %}

        <h1>{{ data.title }}</h1>
        <p>{{ data.text }}</p>
        <em>{{ data.date_create }}</em>

        <hr>
            {% if comments %}
                {% for com in comments %}
                    <p>
                        <strong>{{ com.author_name }}</strong>
                        от <em>{{ com.date_create }}</em>
                        <p>{{ com.text }}</p>
                    </p>
                {% endfor %}
            {% else %}
                Ничего нет
            {% endif %}
        <hr>

        <form action="{% url 'blog:leave_comment' data.id %}" method="post">
            {% csrf_token %}
            <input type="text" required placeholder="Ваше имя" name="name"></br>
            <textarea name="text" required cols="50" rows="10" placeholder="Текст комментария"></textarea></br>
            <button type="submit">Оставить комметарий</button>
        </form>

    {% else %}
        Ничего нет
    {% endif %}

{% endblock %}