<template>
  <div class="about">
    <h1>This is an about page</h1>
    <ApolloExample/>
  </div>
</template>
<script>
// @ is an alias to /src
import ApolloExample from '@/components/ApolloExample.vue'

export default {
  name: 'Home',
  components: {
    ApolloExample
  }
}
</script>
